@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Mono', 'sans-serif';
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logo_text {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 20px;
  width: 20%;
}

main {
  display: flex;
  align-items: center;
}

.img_container {
  width: 50%;
}

.img {
  width: 400px;
}

.info_container {
  width: 30%;
}

h1 {
  line-height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 40px;
  letter-spacing: 1px;
}

button {
  padding: 24px 43px;
  background: #000;
  outline: none;
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .logo_text {
    width: 30%;
  }

  .img {
    width: 300px;
  }

  .info_container {
    width: 40%;
  }

  h1 {
    font-size: 30px;
  }

  p {
    margin-bottom: 30px;
    font-size: 15px;
  }
  button {
    padding: 20px 39px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .logo_text {
    width: 100%;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    flex-direction: column;
  }

  .img_container {
    text-align: center;
  }

  .img {
    width: 250px;
  }

  .info_container {
    width: 60%;
  }

  h1 {
    font-size: 25px;
    line-height: 40px;
  }

  button {
    padding: 15px 35px;
    font-size: 10px;
  }

  p {
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 425px) {
  .logo_text {
    width: 100%;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    flex-direction: column;
  }

  .img_container {
    text-align: center;
  }

  .img {
    width: 200px;
  }

  .info_container {
    width: 60%;
  }

  h1 {
    font-size: 25px;
    line-height: 40px;
  }

  button {
    padding: 15px 35px;
    font-size: 10px;
  }

  p {
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .logo_text {
    width: 100%;
    font-size: 15px;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    flex-direction: column;
  }

  .img_container {
    text-align: center;
  }

  .img {
    width: 170px;
  }

  .info_container {
    width: 60%;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  button {
    padding: 11px 31px;
    font-size: 10px;
  }

  p {
    margin-bottom: 40px;
    font-size: 13px;
    letter-spacing: 0px;
  }
}
